<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Apertura-de-xml-con-Python:" data-toc-modified-id="Apertura-de-xml-con-Python:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Apertura de xml con Python:</a></span></li><li><span><a href="#Apertura-de-json-con-Python:" data-toc-modified-id="Apertura-de-json-con-Python:-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Apertura de json con Python:</a></span></li><li><span><a href="#Apertura-de-xml-con-Pandas:" data-toc-modified-id="Apertura-de-xml-con-Pandas:-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Apertura de xml con Pandas:</a></span></li><li><span><a href="#Apertura-de-csv-con-Pandas:" data-toc-modified-id="Apertura-de-csv-con-Pandas:-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Apertura de csv con Pandas:</a></span></li><li><span><a href="#Apertura-de-excel-con-Pandas:" data-toc-modified-id="Apertura-de-excel-con-Pandas:-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Apertura de excel con Pandas:</a></span></li><li><span><a href="#Apertura-de-json-con-Pandas:" data-toc-modified-id="Apertura-de-json-con-Pandas:-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Apertura de json con Pandas:</a></span></li></ul></div>

# Apertura de xml con Python:

**XML** es un acr√≥nimo de *Extensible Markup Language*, que se traduce como "Lenguaje de Marcado Extensible". Se trata de un lenguaje de marcado que se utiliza para codificar y estructurar datos de manera que sean legibles tanto para las m√°quinas como para los seres humanos.

En un archivo XML, los datos se organizan mediante etiquetas que definen la estructura jer√°rquica de la informaci√≥n. Cada etiqueta tiene una apertura `<etiqueta>` y un cierre `</etiqueta>`, y puede contener datos o subetiquetas anidadas. 

Por ejemplo, el siguiente fragmento de XML representa un correo electr√≥nico:

```xml
<correo>
  <to>Mar√≠a</to>
  <from>
    <name>Ada</name>
    <email>ada@adalab.es</email>
  </from>
  <heading>¬øQu√© tal?</heading>
  <body>Hola Mari, qu√© tal est√°s, qu√© tal la familia? Escr√≠beme pronto, un beso!</body>
</correo>
```

Aqu√≠, `<correo>` es la etiqueta ra√≠z que engloba toda la informaci√≥n del correo. Contiene etiquetas como `<to>`, `<from>`, `<heading>`, y `<body>`, que a su vez pueden contener datos o subetiquetas.


correo
‚îú‚îÄ‚îÄ to: "Mar√≠a"
‚îú‚îÄ‚îÄ from
‚îÇ   ‚îú‚îÄ‚îÄ name: "Ada"
‚îÇ   ‚îî‚îÄ‚îÄ email: "ada@adalab.es"
‚îú‚îÄ‚îÄ heading: "¬øQu√© tal?"
‚îî‚îÄ‚îÄ body: "Hola Mari, qu√© tal est√°s, qu√© tal la familia? Escr√≠beme pronto, un beso!"

Aqu√≠ tenemos una estructura jer√°rquica del XML que se refleja claramente en este √°rbol, donde cada nodo hijo est√° anidado dentro de su nodo padre, mostrando la relaci√≥n entre las diferentes partes del correo electr√≥nico.

- **Nodo ra√≠z (`correo`)**: Contiene todos los otros elementos.
- **Nodos hijos (`to`, `from`, `heading`, `body`)**: Representan diferentes partes del correo.
- **Nodos m√°s internos (`name`, `email`)**: Contienen detalles espec√≠ficos del remitente.

Este √°rbol te da una idea clara de c√≥mo est√°n organizados los datos dentro del archivo XML.

Para acceder a un archivo xml necesitamos importar la librer√≠a xml con algunos subm√≥dulos. 
-  xml.etree.ElementTree que es parte de la biblioteca de Python que utilizamos para trabajar con archivos XML.
-  xml es un formato de datos que se utiliza para almacenar y transportar informaci√≥n de forma estructurada, similar al formato HTML.

In [7]:
# - Alias ET para que puedas referenciar este m√≥dulo de manera m√°s corta
import xml.etree.ElementTree as ET

- La funci√≥n parse() es una de las funciones que ofrece ElementTree. 
- Su prop√≥sito es leer y analizar (parsear) un archivo XML.
- El objeto ElementTree que se devuelve de parse() representa la estructura del XML en forma de un √°rbol de elementos.

In [8]:
# abrimos el fichero
tree = ET.parse('contacto.xml')

- Ahora vamos a probar getroot() nos devuelve el elemento ra√≠z del √°rbol XML, que es el elemento superior que contiene todos los otros elementos y datos del XML.

In [9]:
# Por ejemplo, si quieres acceder al elemento ra√≠z del XML, podr√≠as hacerlo as√≠:
root = tree.getroot()

In [10]:
# Imprime el nombre del nodo ra√≠z usando el atributo tag.
# Cada elemento, incluyendo el elemento root tiene un tag y puede tener unos atributos.
print(root.tag)

contact-info

In [11]:
# sacamos los atributos de nuestro fichero
# os atributos en un elemento XML son pares de nombre-valor que se colocan dentro de la etiqueta de inicio de un elemento.#<contact type="Website" url="https://adalab.es/"></contact>

print(root.attrib)

{}

- root.find('') saca el primer elemento <contact> dentro del elemento ra√≠z 
- find('type').text Dentro del primer elemento <contact> encontrado, este m√©todo busca el primer elemento <type>.

In [12]:
print(root.find('contact').find('type').text)

Website

Puedes iterar por cada hijo de root y ver la estructura del xml de la siguiente manera:

In [7]:
for child in root:
    print(f"{child.tag}: Es un hijo de nuestra raiz 'contact-info'" )
    for subchild in child:
        print(f"{subchild.tag}: Es un nieto de nuestra raiz 'contact-info'" )

contact: Es un hijo de nuestra raiz 'contact-info'
type: Es un nieto de nuestra raiz 'contact-info'
url: Es un nieto de nuestra raiz 'contact-info'
contact: Es un hijo de nuestra raiz 'contact-info'
type: Es un nieto de nuestra raiz 'contact-info'
address: Es un nieto de nuestra raiz 'contact-info'
socialmedia: Es un hijo de nuestra raiz 'contact-info'
profile: Es un nieto de nuestra raiz 'contact-info'
profile: Es un nieto de nuestra raiz 'contact-info'
profile: Es un nieto de nuestra raiz 'contact-info'
profile: Es un nieto de nuestra raiz 'contact-info'
profile: Es un nieto de nuestra raiz 'contact-info'

Si vas chequeando el archivo xml ves que sigue una estructura de √°rbol, tiene una rama principal que es contact-info del que salen dos ramas contact y socialmedia. De estos, a su vez salen m√°s ramas:

- De la subrama contact salen las siguientes ramas: type, url y address

- De la subrama socialmedia sale solo profile

contact-info 
‚îú‚îÄ‚îÄ contact  
‚îÇ   ‚îú‚îÄ‚îÄ type: Website  
‚îÇ   ‚îî‚îÄ‚îÄ url: https://adalab.es/   

‚îú‚îÄ‚îÄ contact  
‚îÇ   ‚îú‚îÄ‚îÄ type: Mail
‚îÇ   ‚îî‚îÄ‚îÄ address: hola@adalab.es
‚îÇ
‚îî‚îÄ‚îÄ socialmedia  
    ‚îú‚îÄ‚îÄ profile  
    ‚îÇ   ‚îú‚îÄ‚îÄ name: Twitter  
    ‚îÇ   ‚îî‚îÄ‚îÄ url: https://twitter.com/Adalab_Digital  
    ‚îÇ
    ‚îú‚îÄ‚îÄ profile
    ‚îÇ   ‚îú‚îÄ‚îÄ name: Facebook
    ‚îÇ   ‚îî‚îÄ‚îÄ url: https://www.facebook.com/AdalabDigital/
    ‚îÇ
    ‚îú‚îÄ‚îÄ profile
    ‚îÇ   ‚îú‚îÄ‚îÄ name: Linkedin
    ‚îÇ   ‚îî‚îÄ‚îÄ url: https://www.linkedin.com/school/adalab/
    ‚îÇ
    ‚îú‚îÄ‚îÄ profile
    ‚îÇ   ‚îú‚îÄ‚îÄ name: Instagram
    ‚îÇ   ‚îî‚îÄ‚îÄ url: https://www.instagram.com/adalab_digital/
    ‚îÇ
    ‚îî‚îÄ‚îÄ profile
        ‚îú‚îÄ‚îÄ name: Youtube
        ‚îî‚îÄ‚îÄ url: https://www.youtube.com/channel/UCYmHARvTgsUrm5YdSYwzmDg

Ahora que sabes c√≥mo se llaman los campos puedes sacar su contenido uno por uno.
Con .find() extraes la primera ocasi√≥n en que el tag de un elemento coincida con el string (nombre de la etiqueta)
Recuerda que puedes tener m√∫ltiples elementos con el mismo nombre.

In [13]:
print(root.find('contact').find('type').text)

Website

In [14]:
print(root.find('contact').find('url').text)

https://adalab.es/

Genial!!! Hasta ahora hemos visto como acceder al contenido, pero... ü§î solo estaba devolviendo el contenido de una etiqueta. ¬øC√≥mo podr√≠amos hacer para que nos devolviera el contenido de todas las etiquetas con el mismo nombre? Usando .findall() que nos da una lista de todos los elementos cuyo tag coincide con el string dado. Para cada contacto sacamos el subelemento que se llama type y accedemos a su texto:

In [10]:
# iteramos por el hijo "contact" y accedemos a todos
for contact in root.findall('contact'):
    # dentro de este sacamos su contenido
    print(contact.find('type').text)

Website
Mail

In [11]:
# como lo har√≠amos para el otro elemento que ten√≠amos
for subelement in root.find('socialmedia').findall('profile'):
# dentro de este sacamos su contenido
    print(subelement.find('name').text)

Twitter
Facebook
Linkedin
Instagram
Youtube

# Apertura de json con Python:

In [15]:
# importamos las librer√≠as que necesitaremos

# Importar librer√≠a para trabajar con archivos JSON
# -----------------------------------------------------------------------
import json

# Importar librer√≠as para manipulaci√≥n y an√°lisis de datos
# -----------------------------------------------------------------------
import pandas as pd

Cargamos el Json con "open", y con load() convertimos el Json en un objeto de Python:

with open(...) as ... es una declaraci√≥n que se utiliza para garantizar que los recursos, como los archivos, se manejen de manera segura. 
Cuando terminas de trabajar con el archivo, Python se asegurar√° autom√°ticamente de cerrarlo, incluso si ocurre un error durante la ejecuci√≥n del bloque de c√≥digo.

In [ ]:
fichero = open("personal.json", "r")  # "r" param√©tro de modo de apertura (como "r", "w", "a" y "x" .)
personal = json.load(fichero)
fichero.close()  # Debes cerrar el archivo manualmente

In [17]:
with open("personal.json", "r") as fichero: # introducimos el nombre de nuestro archivo json y "r" porque lo vamos a leer(read)
    personal = json.load(fichero) # igualamos el archivo cargado a una variable para tenerlo almacenado

Lectura ('r'):

Abre un archivo existente para leer su contenido.
Carga el contenido en una variable (como un diccionario en Python).

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ datos.json   ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ {"nombre":   ‚îÇ
‚îÇ "Carla",     ‚îÇ
‚îÇ "edad": 37}  ‚îÇ  <-- Lee este contenido y lo carga en la variable `data`
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

Escritura ('w'):

Crea o sobrescribe un archivo existente para escribir nuevo contenido.
Guarda el contenido de un diccionario en formato JSON en el archivo.
Reemplaza cualquier contenido anterior del archivo con el nuevo contenido.


‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ datos.json   ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ {"nombre":   ‚îÇ  <-- Sobrescribe el archivo con este contenido
‚îÇ "Carla",     ‚îÇ
‚îÇ "edad": 37}  ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò


Modo "a" (append):

A√±ade contenido al final de un archivo existente.
Crea el archivo si no existe.
No borra el contenido anterior.


Modo "x" (exclusive creation):

Crea un nuevo archivo.
Genera un error si el archivo ya existe.
Evita sobrescribir archivos accidentalmente.

In [18]:
# Compruebo el tipo de dato de un objeto
type(personal)

dict

Esta es la pinta que tiene nuestro archivo. Vemos que tiene una estructura c√≥mo los diccionarios que ya conocemos. Tenemos la key "workers" y dentro una lista de diccionarios con todos los trabajadores.

In [19]:
print(json.dumps(personal, indent=4))

# json.dumps(): Convierte un objeto de Python (en este caso, un diccionario) de vuelta a una cadena de texto en formato JSON.
# json.dumps(): solo crea una nueva cadena que representa el diccionario en formato JSON, pero el diccionario original sigue siendo un diccionario.
# indent=4: Especifica que quieres indentar (sangrar) cada nivel del JSON con 4 espacios, lo que mejora la legibilidad.

{
    "workers": [
        {
            "nombre": "Ana",
            "edad": 90,
            "experiencia": 5,
            "nivel": "Senior",
            "salario": 50000,
            "mascota": "loros"
        },
        {
            "nombre": "Eva",
            "edad": 37,
            "experiencia": 2,
            "nivel": "Mid",
            "salario": 35000
        },
        {
            "nombre": "Marta",
            "edad": 27,
            "experiencia": 1,
            "nivel": "Junior",
            "salario": 25000
        },
        {
            "nombre": "Paula",
            "edad": 30,
            "experiencia": 3,
            "nivel": "Mid",
            "salario": 35000,
            "mascota": "monos"
        }
    ]
}

In [20]:
type(personal)

dict

In [62]:
personal

{'workers': [{'nombre': 'Ana',
   'edad': 34,
   'experiencia': 5,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 37,
   'experiencia': 2,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 27,
   'experiencia': 1,
   'nivel': 'Junior',
   'salario': 25000},
  {'nombre': 'Paula',
   'edad': 30,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000}]}

Para saber la longitud de "workers":

In [63]:
len(personal["workers"])

4

Accedemos a cada uno de los registros dentro de "workers":

In [13]:
for person in personal["workers"]:
    print(person)

{'nombre': 'Ana', 'edad': 34, 'experiencia': 5, 'nivel': 'Senior', 'salario': 50000, 'mascota': 'gatos'}
{'nombre': 'Eva', 'edad': 37, 'experiencia': 2, 'nivel': 'Mid', 'salario': 35000}
{'nombre': 'Marta', 'edad': 27, 'experiencia': 1, 'nivel': 'Junior', 'salario': 25000}
{'nombre': 'Paula', 'edad': 30, 'experiencia': 3, 'nivel': 'Mid', 'salario': 35000}

Para acceder a cada uno de los registros, usamos los √≠ndices:

In [68]:
personal["workers"][0]

{'nombre': 'Ana',
 'edad': 34,
 'experiencia': 5,
 'nivel': 'Senior',
 'salario': 50000,
 'mascota': 'gatos'}

Con las keys podemos acceder a cada uno de los valores del diccionario:

In [69]:
personal["workers"][0]["nombre"]

'Ana'

Adem√°s, podemos cambiar el valor de cada una de las keys:

In [72]:
personal["workers"][0]["edad"]=90
personal["workers"][0]["edad"]

90

In [73]:
personal["workers"][0]

{'nombre': 'Ana',
 'edad': 90,
 'experiencia': 5,
 'nivel': 'Senior',
 'salario': 50000,
 'mascota': 'gatos'}

Esto lo podemos hacer en bucle e incluyendo condiciones:

En este caso, si el nombre de alguna de las personas es igual a Ana, le a√±adimos la key "mascota".

In [75]:
# Por cada elemento en la lista workers, recorrer√© todos los √≠ndices desde 0 hasta el final de la lista.
for i in range(len(personal["workers"])):
    # y por cada trabajador que encuentres con el nombre Ana, asigna 'gatos' como su mascota."
    if personal["workers"][i]["nombre"]=="Ana":
        personal["workers"][i]["mascota"] = "loros"

In [21]:
personal["workers"][0]

{'nombre': 'Ana',
 'edad': 90,
 'experiencia': 5,
 'nivel': 'Senior',
 'salario': 50000,
 'mascota': 'loros'}

In [22]:
# Cambiar la mascota de Paula en el √≠ndice 3
personal["workers"][3]["mascota"] = "monos"
personal["workers"][3]

{'nombre': 'Paula',
 'edad': 30,
 'experiencia': 3,
 'nivel': 'Mid',
 'salario': 35000,
 'mascota': 'monos'}

Guardamos el fichero actualizado en un nuevo json. En este caso usamos "w" ya que queremos escribir (write):

In [80]:
with open("personal.json", "w") as fichero:
    json.dump(personal, fichero)

# Apertura de xml con Pandas:

In [118]:
# Lee el contenido del archivo XML ("books.xml").
# Convierte el contenido de ese archivo en un DataFrame de pandas.

df = pd.read_xml("books.xml")

si da un error, ejecutar en la temrinal en el entorno en el que estemos trabajando

pip install lxml

In [119]:
# El m√©todo df.head() se usa en pandas para ver las primeras filas de un DataFrame. 

df.head()

,id,author,title,genre,price,publish_date,description
0,bk101,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications \n ...
1,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ..."
2,bk103,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17,After the collapse of a nanotechnology \n ...
3,bk104,"Corets, Eva",Oberon's Legacy,Fantasy,5.95,2001-03-10,"In post-apocalypse England, the mysterious \n ..."
4,bk105,"Corets, Eva",The Sundered Grail,Fantasy,5.95,2001-09-10,"The two daughters of Maeve, half-sisters, \n ..."

¬øQu√© es un dataframe? 
Una estructura de datos en la biblioteca pandas de Python, que se utiliza para almacenar y manipular datos en forma de filas y columnas, similar a una hoja de c√°lculo o una tabla en una base de datos.

Ahora ya tienes el xml en un DataFrame y puedes aplicar los m√©todos que has aprendido anteriormente. Ya ves que es mucho m√°s sencillo abrir este tipo de archivos con Pandas!!

# Apertura de csv con Pandas:

Probablemente uno de los tipos de archivo m√°s usados

In [27]:
# Lee el contenido del archivo csv ("ufo.csv").
# Convierte el contenido de ese archivo en un DataFrame de pandas.

df_ufo_csv = pd.read_csv("ufo2.csv")

In [34]:
df_ufo_csv.head()

,Date_time,Unnamed: 0,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,1949-10-10 20:30:00,0,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1949-10-10 21:00:00,1,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,1955-10-10 17:00:00,2,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,1956-10-10 21:00:00,3,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,1960-10-10 20:00:00,4,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...

Ups!! Al abrir el "csv" ha creado una columna: "Unnamed: 0" que no forma parte del archivo original.
Cuando abrimos un archivo CSV con pandas usando read_csv(), a veces puedes encontrarte con una columna adicional llamada "Unnamed: 0"
Esto lo hace Pandas si no le indicas a pandas cu√°l debe ser el √≠ndice del DataFrame, pandas crea un nuevo √≠ndice por defecto, numerando las filas desde 0.

In [33]:
# Si nuestro DataFrame tiene un √≠ndice que no queremos, esta instrucci√≥n lo convierte de nuevo en una columna normal.

df_ufo_csv.reset_index(inplace=True)

In [31]:
# Esto lee un archivo CSV ("ufo.csv") y usa la primera columna del archivo como el √≠ndice del DataFrame.
# As√≠, esa primera columna no aparecer√° como datos (no tiene vamor, solo ordena), sino como el √≠ndice que identifica cada fila.

df_ufo_csv = pd.read_csv("ufo.csv", index_col="Date_time")

In [163]:
df_ufo_csv.head()

,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
Date_time,,,,,,,,,,,,,,,
1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...

In [35]:
#Guardar un dataframe sin indice 
df_ufo_csv.to_csv("ufo.csv", index=False)

Puedes guardar un DataFrame en un formato diferente al que ten√≠a el archivo de inicio. Por ejemplo, vamos a guardarlo en Excel:

In [36]:
df_ufo_csv.to_excel("ufo.xlsx")

Aqu√≠ tienes la documentaci√≥n con todos los par√°metros que admite [read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html).

# Apertura de excel con Pandas:

In [84]:
df_ufo_excel = pd.read_excel("ufo.xlsx", index_col = 0)

Al igual que con el "csv", hay que decirle a Pandas que la primera columna es el √≠ndice para que no cree la columna "Unnamed: 0".

In [32]:
df_ufo_excel.head()

,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...

üö®‚ö†Ô∏è NOTA Puede que al ejecutar este l√≠nea de c√≥digo os salga un error:

DON'T PANIC!!! Lo √∫nico que tendr√°s que hacer es importaros openpyxl. ¬øC√≥mo?

Vas a la terminal y ejecutas el siguiente c√≥digo:
pip3 install openpyxl
o

pip install openpyxl

Hay muchos m√°s par√°metros que puedes usar al abrir este tipo de archivos, como por ejemplo saltar las primeras l√≠neas del archivo de Excel o abrir los datos de una pesta√±a en concreto del documento. Aqu√≠ tienes la documentaci√≥n para que le eches un vistazo: [read_excel](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)

# Apertura de json con Pandas:

Ahora vamos a ver c√≥mo abrir un archivo de tipo "json" con pandas:

In [38]:
df = pd.read_json("one_piece.json")

In [39]:
# Cambia el √≠ndice del DataFrame para que sea la primera columna.
df.set_index(df.columns[3], inplace=True)

In [40]:
df.head()

,rank,trend,season,name,start,total_votes,average_rating
episode,,,,,,,
1,"24,129",18,1,I'm Luffy! The Man Who Will Become the Pirate ...,1999,647,7.6
2,"29,290",11,1,"The Great Swordsman Appears! Pirate Hunter, Ro...",1999,473,7.8
3,"32,043",7,1,Morgan vs. Luffy! Who's This Beautiful Young G...,1999,428,7.7
4,"28,818",8,1,Luffy's Past! The Red-haired Shanks Appears!,1999,449,8.1
5,"37,113",4,1,"Fear, Mysterious Power! Pirate Clown Captain B...",1999,370,7.5

Al igual que antes, con este DataFrame puedes aplicar los m√©todos de Pandas que has aprendido, incluso guardarlo con otro formato c√≥mo por ejemplo "csv":

In [41]:
df.to_csv("one_piece.csv")